<div class="journal">
 
  
  @if ( mueble.length > 0 && !selectedUser) {
    <div class="first photo">
      <div>
        <div class="image-container2">
          @for (m of mueble; track m.id) {
            <img [src]="m.imagen" 
                 [alt]="m.nombre"
                 class="user-avatar"
                >
          }
          <button class="caption" (click)="onMainClick()">Volver</button>
        </div>
        
      </div>
    </div>
  } @else{

    <div class="no-results">
      <p>No se encontraron resultados.</p>
    </div>
  }

   
</div>