@if (show) {
    <div class="modal-overlay">
        <div class="modal-content">
             <button type="button" class="close" (click)="onClose()">
            <i class="bi bi-x"></i>
        </button>
            <h2>{{ getText(' Herrajes para ', 'Screws for') }} . {{nombre}} </h2>
            <div class="modal-body">
                <div class="herrajes-details">
                    <p><strong>{{ getText('Nombre:', 'Name:') }}</strong> {{ tipo }}</p>
                    <p><strong>{{ getText('Número de Piezas:', 'Number of Pieces:') }}</strong> {{ cantidad }}</p>
                </div>
            </div>
         
        </div>
    </div>
    }
    