

<div class="container page-container">
  <i class="fa-solid fa-circle-plus" style="text-align: right;">Crear Mueble</i>
<div class="row g-4 mt-9">
  @for (mueble of muebles; track mueble.id) {
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card h-100 shadow-sm">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Eliminar" (click)="deleteMueble(mueble)"></button>

        <img [src]="mueble?.imagen" [alt]="mueble?.nombre" class="card-img-top" style="object-fit: cover; height: 200px;">

        <div class="card-header">
          <h5 class="card-title mb-0">{{ mueble?.nombre }}</h5>
        </div>

        <div class="card-body">
          <p class="card-text text-muted">{{ mueble?.numero_piezas }} piezas</p>

          <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-outline-primary btn-sm px-3">
              Ver herrajes
            </button>

            <i class="fa-solid fa-pen-to-square"></i>
          </div>
        </div>
      </div>
    </div>
  }
</div>

 </div>
<app-modal-delete [show]="showModal" [nombre]="selectedMueble?.nombre ?? ''" [numero_piezas]="(selectedMueble?.numero_piezas ?? '') + ''"
  (confirm)="onConfirmMueble()"
  (cancel)="onCancelMueble()">
</app-modal-delete>
